@import "https://fonts.googleapis.com/css?family=Montserrat%3A400%2C700&ver=4.4.1";
body {
  font-family: Montserrat;
}
.jumbotron {
  background-color: #fff;
  border: 1px solid #0a2333;
  border-radius: 0 !important;
  height: auto !important;
  min-height: 200px;
}
.jumbotron p {
  text-align: center;
  padding: 20px 0;
}
.navbar-shortner {
  background-color: #0a2333;
  border-radius: 0;
}
.navbar-shortner a {
  color: #66b34e;
}
.btn-shortner {
  background-color: #66b34e;
  color: #fff;
  border: 1px solid #66b34e;
  border-radius: 0;
}
.form-control {
  border-radius: 0;
  border: 1px solid #66b34e;
  color: #66b34e;
}
.form-control:focus {
  border-color: #65b34e;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(101, 179, 77, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(101, 178, 78, 0.6);
}
.btn:focus,
.btn:active,
.btn:hover {
  color: #fff !important;
  background-color: rgba(101, 178, 78, 0.6);
}
